<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Communication>
    <Interface Display="通讯配置" Type="UDP服务端" IsAutoRun="True" IsRealTime="False">
      <Networks Display="以太网通讯" RemoteIP="192.168.0.108" RemotePort="4008" LocalIP="192.168.0.22" LocalPort="4008" />
      <SerialPort Display="通讯配置" PortName="COM15" BaudRate="115200" StopBit="1" DataBit="8" Parity="无" />
      <RealTime Display="RealTime" ChNum="CH6" ChUnit="ENG" SampRate="1000" ARMAPointCount="10" />
      <M3612Configs Display="M3612数采配置" Name="M3612Configs" SensorCount="2">
        <M3612Config Name="Sensor1" SensorId="0" />
        <M3612Config Name="Sensor2" SensorId="1" />
      </M3612Configs>
    </Interface>
    <Protocols>
      <Protocol Name="M8412R" IsEnable="False">
        <ProtocolParams Display="协议参数" Type="HeadLengthCRC32" BufferModel="Stream">
          <Header Display="数据帧头" Value="0x55AA" Type="UInt16" />
          <PackageLength Display="包长度" Value="34" Type="UInt16" />
          <ProtocolID Display="协议ID" Value="0" Type="UInt16" />
          <PackageNo Display="包编号" Value="0" Type="UInt16" />
          <Fz1 Display="Z轴力1" Value="0" Type="float" Unit="N" />
          <DA1 Display="浮动量1" Value="0" Type="float" Unit="mm" />
          <Fz2 Display="Z轴力2" Value="0" Type="float" Unit="N" />
          <DA2 Display="浮动量2" Value="0" Type="float" Unit="mm" />
          <IO Display="IO信号" Value="0" Type="byte" />
          <Code Display="错误码" Value="0" Type="byte" />
          <CRC32 Display="校验码" Value="0" Type="UInt32" />
        </ProtocolParams>
      </Protocol>
      <Protocol Name="M3612T1" IsEnable="False">
        <ProtocolParams Display="协议参数" Type="HeadLengthCRC32" BufferModel="Stream">
          <Header Display="数据帧头" Value="0x55AA" Type="UInt16" />
          <PackageLength Display="包长度" Value="27" Type="BEUInt16" />
          <PackageNo Display="包编号" Value="0" Type="UInt16" />
          <ProtocolNo Display="协议编号" Value="0" Type="byte" />
          <SensorID Display="传感器ID" Value="0" Type="byte" />
          <FX Display="FX" Value="0" Type="float" Unit="N" />
          <FY Display="FY" Value="0" Type="float" Unit="N" />
          <FZ Display="FZ" Value="0" Type="float" Unit="N" />
          <MX Display="MX" Value="0" Type="float" Unit="Nm" />
          <MY Display="MY" Value="0" Type="float" Unit="Nm" />
          <MZ Display="MZ" Value="0" Type="float" Unit="Nm" />
          <BECRC32 Display="校验码" Value="0" Type="UInt32" />
        </ProtocolParams>
      </Protocol>
      <Protocol Name="RS485_9" IsEnable="False">
        <ProtocolParams Display="协议参数" Type="JAKA_CRC8" BufferModel="Stream">
          <Header Display="数据帧头" Value="0x55AA" Type="UInt16" />
          <RawF1 Display="RawF1" Value="0" Type="byte" Unit="N" />
          <RawF2 Display="RawF2" Value="0" Type="byte" Unit="N" />
          <RawF3 Display="RawF3" Value="0" Type="byte" Unit="N" />
          <RawF4 Display="RawF4" Value="0" Type="byte" Unit="Nm" />
          <RawF5 Display="RawF5" Value="0" Type="byte" Unit="Nm" />
          <RawF6 Display="RawF6" Value="0" Type="byte" Unit="Nm" />
          <RawF7 Display="RawF7" Value="0" Type="byte" Unit="Nm" />
          <RawF8 Display="RawF8" Value="0" Type="byte" Unit="Nm" />
          <RawF9 Display="RawF9" Value="0" Type="byte" Unit="Nm" />
          <JAKA_CRC8 Display="校验码" Value="0" Type="byte" />
        </ProtocolParams>
      </Protocol>
      <Protocol Name="RS485_11" IsEnable="False">
        <ProtocolParams Display="协议参数" Type="JAKA_CRC8" BufferModel="Stream">
          <Header Display="数据帧头" Value="0x55AA" Type="UInt16" />
          <RawF1 Display="RawF1" Value="0" Type="byte" Unit="N" />
          <RawF2 Display="RawF2" Value="0" Type="byte" Unit="N" />
          <RawF3 Display="RawF3" Value="0" Type="byte" Unit="N" />
          <RawF4 Display="RawF4" Value="0" Type="byte" Unit="Nm" />
          <RawF5 Display="RawF5" Value="0" Type="byte" Unit="Nm" />
          <RawF6 Display="RawF6" Value="0" Type="byte" Unit="Nm" />
          <RawF7 Display="RawF7" Value="0" Type="byte" Unit="Nm" />
          <RawF8 Display="RawF8" Value="0" Type="byte" Unit="Nm" />
          <RawF9 Display="RawF9" Value="0" Type="byte" Unit="Nm" />
          <RawF10 Display="RawF10" Value="0" Type="byte" Unit="Nm" />
          <RawF11 Display="RawF11" Value="0" Type="byte" Unit="Nm" />
          <JAKA_CRC8 Display="校验码" Value="0" Type="byte" />
        </ProtocolParams>
      </Protocol>
      <Protocol Name="Default" IsEnable="False">
        <ProtocolParams Display="协议参数" Type="ChData" BufferModel="Stream">
          <Header Display="数据帧头" Value="0x55AA" Type="UInt16" />
          <PackageLength Display="包长度" Value="27" Type="BEUInt16" />
          <PackageNo Display="包编号" Value="0" Type="UInt16" />
          <SUM Display="校验码" Value="0" Type="byte" />
        </ProtocolParams>
      </Protocol>
      <Protocol Name="M3612" IsEnable="False">
        <ProtocolParams Display="协议参数" Type="M3612" BufferModel="Stream">
          <Header Display="数据帧头" Value="0x55AA" Type="UInt16" />
          <PackageLength Display="包长度" Value="27" Type="BEUInt16" />
          <PackageNo Display="包编号" Value="0" Type="UInt16" />
          <SUM Display="校验码" Value="0" Type="UInt32" />
        </ProtocolParams>
      </Protocol>
      <Protocol Name="AT" IsEnable="True">
        <ProtocolParams Display="协议参数" Type="STRING" BufferModel="Stream">
          <Header Display="数据帧头" Value="AT+" Type="String" />
          <Infor Display="数据" Value="" Type="String" />
          <Tail Display="数据帧尾" Value="&#xD;&#xA;" Type="String" />
        </ProtocolParams>
      </Protocol>
      <Protocol Name="ACK" IsEnable="True">
        <ProtocolParams Display="协议参数" Type="STRING" BufferModel="Stream">
          <Header Display="数据帧头" Value="ACK+" Type="String" />
          <Infor Display="数据" Value="" Type="String" />
          <Tail Display="数据帧尾" Value="&#xD;&#xA;" Type="String" />
        </ProtocolParams>
      </Protocol>
    </Protocols>
  </Communication>
</Configuration>